.sfondo1 {
position: relative;
width: 1440px;
height: 900px;

background: linear-gradient(180deg, #D0CFFF 0%, #9ECAF3 100%);
mix-blend-mode: normal;
}

.background
{
  background: #E5E5E5;
}

.rettangolo1 {
position: absolute;
width: 558px;
height: 560px;
left: 425px;
top: 183px;

background: #FFFFFF;
}

.guadagno {
position: absolute;
width: 364px;
height: 43px;
left: 538px;
top: 667px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;
}

.calcola {
  position: absolute;
width: 65px;
height: 16px;
left: 688px;
top: 607px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #070707;
}

.rettangolo2{
  position: absolute;
width: 364px;
height: 35px;
left: 538px;
top: 597px;

background: #D0CFFF;
}

.orario{
  position: absolute;
width: 152.69px;
height: 16px;
left: 538px;
top: 485px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;
}

.obbligatorio1{
  position: absolute;
width: 137.69px;
height: 13px;
left: 538px;
top: 550px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

display: flex;
align-items: center;

color: #FF0000;

}

.separatore1 {
  position: absolute;
width: 364px;
height: 0px;
left: 538px;
top: 542px;

border: 2px solid #535353;
}

.ore {
  position: absolute;
width: 211.31px;
height: 16px;
left: 538px;
top: 392px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;

}

.obbligatorio2 {
  position: absolute;
width: 137.69px;
height: 13px;
left: 538px;
top: 457px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

display: flex;
align-items: center;

color: #FF0000;

}

.separatore2 {
  position: absolute;
width: 364px;
height: 0px;
left: 538px;
top: 449px;

border: 2px solid #535353;
}

.giorni {
  position: absolute;
width: 51.81px;
height: 16px;
left: 538px;
top: 299px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;

}

.obbligatorio3{
  position: absolute;
width: 137.69px;
height: 13px;
left: 538px;
top: 364px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

display: flex;
align-items: center;

color: #FF0000;
}

.separatore3 {
  position: absolute;
width: 364px;
height: 0px;
left: 538px;
top: 356px;

border: 2px solid #535353;

}

.povero {
  position: absolute;
width: 355px;
height: 49px;
left: 543px;
top: 196px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 49px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}